* {
  padding: 0px;
  margin: 0px;
}
.banner-container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/banner/banner1.png);
  /* linear-gradient(rgba()) */
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  justify-content: right;
  text-align: center;
  align-items: center;
}
.title-banner {
  padding: 20px;
  margin: 0 500px;
}
.title-description {
   
  
}

.btn-contact {
  padding: 15px 35px;
  color: black;
  background-color: #f15b22;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

/*Second- content*/
.Second-content {
  display: flex;
  margin: auto;
  justify-content: right;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.right-side-picture {
  margin-left: 206px;
}

.left-side-content-title {display: inline;

  padding:auto;
  margin: 0 20px;
  font-size: 50px;
  font-weight:0px;
}
.left-side-content-description {
  padding: 30px;
  margin: 0 400px;
  font-size: 18px;
  font-weight:70px;
}
.list-items,li{ list-style-image: url('../images/icons/check-solid.svg');  
  margin: 0 150px; 
 font-size: 20px;}

     /* about section  */

 
    
 
 
 